@import "../../../styles.scss";

section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  min-height: 250px;
  background: $secondary-color;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  margin-top: 20px;

  /* If you DON'T HAVE a task */
  &.loading {
    background-image: url("../../../assets/bg-task\ 1.svg");
    background-repeat: no-repeat;
    background-position: center 30px;
  }

  /* Now if there is task */

  ul {
    padding: 20px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      input {
        &[type="checkbox"] {
          width: 5%;
        }
        &[type="text"] {
          width: 80%;
          padding: 5px 10px;
          border: none;
          font-size: 16px;
          color: $primary-color;

          &.checked {
            text-decoration: line-through;
          }
        }
      }

      button {
        width: 5%;
        background: none;
        border: none;
        color: $primary-color;
      }
    }
  }
}

input[type="checkbox"]:checked {
  background-color: aqua;
}
